{% extends "base.html" %}

{% block title %}My Todo Lists{% endblock %}

{% block content %}
<main>
  <div>
    <h1>My Lists</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of items</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>List 1</td>
          <td></td>
        </tr>
        <tr>
          <td>List 2</td>
          <td></td>
        </tr>
        <tr>
          <td>List 3</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
{% endblock %}